.switch-notebook-dialog {
  margin-top: var(--switch-notebook-dialog-margin-top);
  background: none !important;
}

.switch-notebook-dropdown {
  width: 300px !important;
}

.switch-notebook-dropdown div.menu {
  max-height: var(--switch-notebook-menu-height) !important;
}
